<section class="s_as__aptitudes-panel s_as__ability-panel">

    {{> (actorPart 'panel-header') title='SUPERS.Aptitudes' costs=Costs.Aptitudes}}

    <div class="s_as__aptitudes-list">
        {{#each Aptitudes}}
            {{> (actorPart 'aptitudes-row') this editMode=../this.editMode}}
        {{/each}}
    </div>

</section>
