<section class="s_as__equipments-panel s_as__ability-panel">

    {{> (actorPart 'panel-header') title='SUPERS.Equipments' costs=Costs.Equipments}}

    <div class="s_as__equipment-list {{#if (eq data.state 'edit')}}state__edit{{/if}}">
        {{#each Equipments as |Equipment id|}}
            {{Equipment.name}}<br>
        {{/each}}
    </div>

</section>
