{{#if system.edges.length}}

    <div class="s_as__detail-panel" data-id="{{_id}}">

        {{#each system.edges}}
            {{#unless (eq type "Info")}}{{s_i18n type}}:{{/unless}}
            {{label}}
            {{#unless (eq type "Info")}}
                [{{rating}}]
            {{/unless}}
            {{#unless @last}},{{/unless}}
        {{/each}}

    </div>

{{/if}}
