{{#if data.edges.length}}

    <div class="s_as__detail-panel" data-id="{{_id}}">

        {{#each data.edges}}
            {{#unless (eq type "Info")}}{{s_i18n type}}:{{/unless}}
            {{label}}{{#unless (eq type "Info")}} {{/unless}}{{rating}}{{#unless @last}},{{/unless}}
        {{/each}}

    </div>

{{/if}}
