<section class="s_as__resistances-panel s_as__ability-panel">

    {{> (actorPart 'panel-header') title='SUPERS.Resistances' costs=Costs.Resistances}}

    <div class="s_as__resistances-list">

        {{#if editMode}}
            <span class="s_as__ability-panel__hint row-spreading">
                <span>{{ localize 'SUPERS.max' }}</span> <span>{{ localize 'SUPERS.current' }}</span>
            </span>
        {{else}}
            <span class="s_as__ability-panel__hint row-end">{{ localize 'SUPERS.current' }}</span>
        {{/if}}

        {{> (actorPart 'resistance-row') key='Composure' editMode=editMode }}
        {{> (actorPart 'resistance-row') key='Fortitude' editMode=editMode }}
        {{> (actorPart 'resistance-row') key='Reaction' editMode=editMode }}
        {{> (actorPart 'resistance-row') key='Will' editMode=editMode }}

    </div>

</section>
