/*.party-overview-window .window-header {*/
/*    display: none;*/
/*}*/

/*.party-overview-window {*/
/*    width: calc(100vw - 393px) !important;*/
/*}*/

.party-overview td {
    vertical-align: top;
    border-left: 1px solid;
    padding: 0.5rem 0.5rem !important;
}

.party-overview td.center {
    text-align: center;
}

.party-overview th {
    writing-mode: vertical-lr;
    border-left: 1px solid;
}

.party-overview img {
    border: none;
    width: 100px;
    display: block;
    margin: 1rem auto 1rem;
}

.party-overview h3 {
    border: none;
    text-align: center;
}
